<div class="container" style="margin-top: 80px;">
    <h1>User Dashboard</h1>
    <!--<button class="btn btn-warning" ui-sref="dashboard.logout()">Logout</button>-->
    <button class="btn btn-warning" ng-click="dashboard.logout()">Logout</button>
</div>