<div class="container" style="margin-top: 80px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Login Box</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="email" ng-model="login.user.email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="password" ng-model="login.user.password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-primary" ng-click="login.login()">Login</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <a class="btn btn-link btn-block" ui-sref="register">Don’t have an account?</a>
                <button class="btn btn-block btn-primary" ng-click="login.authenticate('facebook')">Sign in with Facebook</button>
                <button class="btn btn-block btn-primary" ng-click="login.authenticate('linkedin')">Sign in with LinkedIn</button>
                <button class="btn btn-block btn-primary" ng-click="login.authenticate('google')">Sign in with Google</button>
            </div>
        </div>
    </div>
</div>
</div>
