<div class="container" style="margin-top: 80px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Register Box</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="name" ng-model="register.user.name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="email" ng-model="register.user.email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="password" ng-model="register.user.password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-primary" ng-click="register.register()">Register</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <a class="btn btn-link btn-block" ui-sref="login">Already have an account?</a>
            </div>
        </div>
    </div>
</div>
</div>